body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e; /* 濃い黒色 */
    color: #d05a42; /* 濃い赤色 */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#rules {
    font-size: 18px;
    margin-bottom: 20px;
    color: #feba52; /* 濃いオレンジ */
}

#stamp-message {
    display: none;
    font-size: 24px;
    font-weight: bold;
    color: #feba52; /* 濃いオレンジ */
    margin-top: 20px;
}

#start-container {
    max-width: 600px;
    background-color: #1e1e1e; /* 濃い黒色 */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* 白色の透明度を調整 */
    margin-top: 20px;
}

#start-button {
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    border: 2px solid #feba52; /* 濃いオレンジ */
    border-radius: 8px;
    background-color: #feba52; /* 濃いオレンジ */
    color: #1e1e1e; /* 濃い黒色 */
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#start-button:hover {
    background-color: #1e1e1e; /* 濃い黒色 */
    color: #feba52; /* 濃いオレンジ */
}

#quiz-container {
    display: none;
}

/* 追加スタイルをここに追加 */
